@model Roles_Estructuras_Control.Models.DetalleFacturaModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DetalleFacturaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoModelsId" class="control-label"></label>
                <select asp-for="ProductoModelsId" class ="form-control" asp-items="ViewBag.ProductoModelsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FacturaModelId" class="control-label"></label>
                <select asp-for="FacturaModelId" class ="form-control" asp-items="ViewBag.FacturaModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StockModelsId" class="control-label"></label>
                <select asp-for="StockModelsId" class ="form-control" asp-items="ViewBag.StockModelsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
